<body class="home blog group-blog hfeed has-site-branding has-custom-header has-no-sidebar">
<div id="page" class="site-wrapper site">
<header id="masthead" class="site-header" role="banner">
<div class="container">
  <div class="row">
    <div class="col-xl-12">

      <div class="site-header-inside">

        <div class="site-branding-wrapper">
          <div class="site-logo-wrapper"></div>
          <div class="site-branding">
            <h2 class="site-title">
              <a href="{{ '/' | relative_url }}" title="{{ site.title }}" rel="home">{{ site.title }}</a>
            </h2>
            <h3 class="site-description">The Developing Librarian Project</h3>
          </div>
        </div><!-- .site-branding-wrapper -->

        <div class="toggle-menu-wrapper">
          <a href="#" title="Menu" class="toggle-menu-control">
            <span class="screen-reader-text">Menu</span>
          </a>
        </div>

      </div><!-- .site-header-inside -->

    </div><!-- .col-xl-12 -->
  </div><!-- .row -->
</div><!-- .container -->
</header><!-- #masthead -->
