<nav id="site-navigation" class="main-navigation" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <div class="main-navigation-inside">

          <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

          <div class="site-primary-menu">
            <ul class="primary-menu sf-menu">
              <li class="current_page_item"><a href="{{ '/' | relative_url }}">Home</a></li>
              <li class="page_item page-item-106"><a href="{{ '/about' | relative_url }}">About</a></li>
              <li class="page_item page-item-40"><a href="{{ '/charter' | relative_url }}">Charter</a></li>
              <li class="page_item page-item-245"><a href="{{ '/people' | relative_url }}">People</a></li>
              <li class="page_item page-item-1297"><a href="{{ '/publications' | relative_url }}">Publications and Presentations</a></li>
              <li class="page_item page-item-124"><a href="{{ '/roadmap' | relative_url }}">Roadmap</a></li>
              <li class="page_item page-item-236"><a href="{{ '/the-dhc' | relative_url }}">The DHC</a></li>
              <li class="page_item page-item-236"><a href="{{ '/search' | relative_url }}">Search</a></li>
            </ul>
          </div>

        </div><!-- .main-navigation-inside -->

      </div><!-- .col-xl-12 -->
    </div><!-- .row -->
  </div><!-- .container -->
</nav><!-- .main-navigation -->
