{% assign taglist = "" %}{% for post in site.wposts %}{% assign last = forloop.last %}{% for tag in post.tags %}{% assign temp = tag | strip | downcase %}{% unless last %}{% assign temp = temp | append: "^" %}{% endunless %}{% assign taglist = taglist | append: temp %}{% endfor %}{% endfor %}{% assign taglist = taglist | split: "^" | uniq %}
<h3>Tags:</h3>
<p>
  {% for tag in taglist %}
    {% assign tag_slug = tag | slugify %}
    <a href="{{ '/tag/' | append: tag_slug | relative_url }}">{{ tag }}</a>{% unless forloop.last %} / {% endunless %}
  {% endfor %}
</p>
