---
layout: default
---

<div id="content" class="site-content">
	<div class="container">
		<div class="row">
			<div id="primary" class="content-area col-xl-12">
				<main id="main" class="site-main" role="main">
					<article class="page type-page status-publish hentry">
						<div class="entry-header-wrapper">
							<header class="entry-header">
								<h1 class="entry-title">{{ page.title }}</h1>
							</header><!-- .entry-header -->
						</div><!-- .entry-header-wrapper -->

						<div class="entry-content">
              {{ page.content }}
            </div><!-- .entry-content -->
          </article><!-- #post-## -->
        </main><!-- #main -->
      </div><!-- #primary -->
    </div><!-- .row -->
  </div><!-- .container -->
</div> <!-- #content -->
